.btn-orange {
    color: var(--bg-white);
    background-color: var(--bg-orange);
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
}
.btn-orange:hover {
    color: var(--bg-white);
    background-color: var(--bg-orange-hover);
}

.btn-orange-outline{
    color: var(--bg-orange);
    background-color: transparent;
    outline: 1px solid var(--bg-orange);
    box-shadow: none;
    font-size: 1rem;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    border-radius: 0px;
}

.btn-orange-outline:hover{
    color: var(--bg-white);
    background-color: var(--bg-orange);
    border-radius: 0px;
    outline: none;
}

.btn-roxo {
    color: var(--bg-white);
    background-color: var(--bg-roxo);
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
}
.btn-roxo:hover {
    color: var(--bg-white);
    background-color: var(--bg-roxo-hover);
}


.btn-roxo-outline{
    color: var(--bg-roxo);
    background-color: transparent;
    outline: 1px solid var(--bg-roxo);
    box-shadow: none;
    font-size: 1rem;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    border-radius: 0px;
}

.btn-roxo-outline:hover{
    color: var(--bg-white);
    background-color: var(--bg-roxo);
    border-radius: 0px;
    outline: none;
}